body {
  background-color: lightgray;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.5;
}

.container {
  max-width: 500px;
  margin: 100px auto;
}

form {
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 8px;
}

.input-suggestion {
  padding: 14px;
  border-radius: 20px;
  width: 70%;
  font-size: 15px;
  border: 1px rgb(39, 33, 66, 0.3);
  line-height: 20px;
}

.input-button {
  margin-left: 10px;
  background-color: #7b4cee;
}
