body {
  background-color: lightgray;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.5;
}

.container {
  max-width: 600px;
  margin: 100px auto;
}

form {
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

a {
  color: #885df1;
}

.input-suggestion {
  padding: 14px;
  border-radius: 20px;
  width: 60%;
  font-size: 15px;
  border: 1px solid rgba(39, 33, 66, 0.3);
  line-height: 20px;
}

.submit-button {
  margin-left: 50px;
  background: #885df1;
  color: white;
  border: none;
  width: 120px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

footer {
  margin-top: 80px;
}
